
body {
    margin: 0 150px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

#cart-icon {
    height: 28px;
    width: auto;
    display: inline-block;
}

#nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    flex-direction: row;
    align-items: center;
}

#nav-links li:nth-child(2), li {
    color: #8987A1;
}

#nav-links li:first-child, #nav-links li:last-child {
    color: #000;
    
}

.hero-image {
    width: 100%;
    height: auto;

}


@media screen and (max-width: 640px) {
    body {
        margin: 0 16px;
    }
    
}